html, body { 
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: #52514e;
}

div#map { 
	height: 100%;
}

div.leaflet-top.leaflet-right {
	max-width: 80%;
}

div#changeset-control {
	max-width: 100%;
}

div#controls {
	padding: 5px;
	background: rgb(255, 255, 255, 0.8);
}

div#controls form {
	display: flex;
}

div#controls form input {
	flex: 1 1 0;
	min-width: 0;
}

div#controls form#datetimeForm {
	margin-bottom: 5px;
}

table.tags {
	width: 100%;
}

table.tags td.key {
	border: 0;
	background: hsl(0deg 0% 90%);
}

table.tags td.key.old {
	background: hsl(0deg 100% 90%);
}

table.tags td.key.new {
	background: hsl(120deg 100% 90%);
}

table.tags td.value {
	border: 0;
	background: hsl(0deg 0% 95%);
	overflow-wrap: anywhere;
}

table.tags td.value.old {
	background: hsl(0deg 100% 95%);
}

table.tags td.value.new {
	background: hsl(120deg 100% 95%);
}
