html, body { 
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: #52514e;
}

div#map { 
	height: 100%;
}

div#controls {
	padding: 5px;
	background: rgb(255, 255, 255, 0.8);
}
